[tool.black]
target-version = ['py36', 'py37']
skip-string-normalization = true


[build-system]
requires = [
  "setuptools >= 42",
  "wheel",
  "setuptools_scm[toml]>=3.4"
]

[tool.setuptools_scm]
write_to = "aydin/_version.py"
